/* My Assignments Page Variables */
:root.dark {
    --my-assignments-header-upcoming: hsl(216, 12%, 84%);
    --my-assignments-header-inprogress: hsl(31, 97%, 72%);
    --my-assignments-header-done: hsl(142, 77%, 73%);}

:root.light {
    --my-assignments-header-upcoming: hsl(215, 15%, 40%);
    --my-assignments-header-inprogress: hsl(30, 80%, 50%);
    --my-assignments-header-done: hsl(142, 70%, 40%);
}

/* Default: Mobile layout spacing */
.assignments-board+.assignments-board {
    margin-top: 0.5rem;
}

/* Desktop: Reset for desktop layout */
@media (width >= theme(--breakpoint-lg)) {
    .assignments-board+.assignments-board {
        margin-top: 0;
    }
}