:root.dark {
    --my-classes-class-card-shadow: 0 4px 10px hsla(0, 0%, 0%, 0.2);
}

:root.light {
    --my-classes-class-card-shadow: 0 4px 10px hsla(0, 0%, 0%, 0.1);
}

@media (min-width: 810px) and (max-width: 1180px) {
    /* iPad 11-inch range */
    .class-header-title {
        font-size: 1.125rem;
    }
}

@media (max-width: 640px) {
    /* Phone screens */
    .class-header-title {
        font-size: 1.2rem;
    }
}